.home {
  height: 781px;
  display: flex;
  flex-direction: column;
  background-image: url("../../../../../assets/images/home_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
